.container{
    width: 100%;
    height: 96px;
    padding-left: 55px;
    margin-top: 40px;
    display: flex;
    align-items: center;

    .menu_wrapper{
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        
        
        
        .line{
            grid-row: 1;
            grid-column: 1;
            width: 38%;
            height: 1px;
            margin: 10px;
            opacity: 0.25;
            border: none;
            z-index: 10;
            background-color: var(--primary3);
        }
    
        .menu{
            grid-row: 1;
            grid-column: 1;
            width: 65%;
            height: 100%;
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(40.7742px);
            justify-self: flex-end;
            display: flex;
            padding-left: calc(123px - 40px);
    
        }
    }

}