.container{
    display: flex;
    align-items: center;
    color: var(--primary3);
    height: 100%;

    font-size: 22px;
    font-family: 'Barlow Condensed';

    margin-left: 40px;
    user-select: none;
    cursor: pointer;

    .number{
        font-weight: 700;
        margin-right: 12px;
    }
}